*{margin:0; padding:0; box-sizing: border-box;}
:root{
  --bg-main:#1f1f1f;
  --fg-main:#fafafa;
  --hamburger-color:#fff;
  color-scheme: dark;
}
html,body{width: 90%; height: 100%; color: var(--fg-main);
background: var(--bg-main); margin: 0.3rem auto;}

.list_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 4rem;
}

.list_item {
    width: 100%;
    border: 2px solid #fff;
    margin: 1.5rem 0; padding: 0.5rem;
    list-style-type:none;
    font-size: 2rem;
    text-align: center;
    a{
        text-decoration: none;
        width: 100%; display: block;
    }
}

